[submodule "contrib/electrum-locale"]
	path = contrib/electrum-locale
	url = https://github.com/Electron-Cash/electrum-locale
[submodule "contrib/zbar"]
	path = contrib/zbar
	url = https://github.com/mchehab/zbar
[submodule "contrib/openssl"]
	path = contrib/openssl
	url = https://github.com/openssl/openssl.git
[submodule "contrib/zlib"]
	path = contrib/zlib
	url = https://github.com/madler/zlib.git
[submodule "contrib/tor"]
	path = contrib/tor
	url = https://github.com/EchterAgo/tor.git
