####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
*.egg-info/
/electrum.py
contrib/pyinstaller/
contrib/libevent/
contrib/openssl/
contrib/secp2561k1/
contrib/tor/
contrib/zbar/
contrib/zlib/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
tmp/
electroncash/*.so.0
electroncash/*.dylib
contrib/osx/*.dylib

# tox files
.cache/
.coverage
htmlcov

# MacOSX
.DS_Store/
.DS_Store
icons/.DS_Store/
xcuserdata/

# IntelliJ Pycharm IDE
/.idea
# vs code
.vscode/
# mypy
.mypy_cache/

venv/
