repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
    -   id: isort
        name: isort (python)
        args: [--profile=black]
    -   id: isort
        name: isort (cython)
        types: [cython]
        args: [--profile=black]
    -   id: isort
        name: isort (pyi)
        types: [pyi]
        args: [--profile=black]
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    # Syntax errors checked on all files
    -   id: flake8
        args:
        -   --max-line-length=88
        -   --select=E9,F5,F6,F7,F8
        -   --extend-ignore=E203   # This one is incompatible with black
    # Less severe errors and warnings checked on a selection of cleaned-up files
    -   id: flake8
        args:
        -   --max-line-length=88
        -   --ignore=E203,E501,E731,E741,W503,SIM106,SIM119,FS002,FS003
        additional_dependencies:
        -   flake8-comprehensions
        -   flake8-mutable
        -   flake8-simplify
        -   flake8-use-fstring
        files: |
          (?x)^(
              electroncash/tests/.*py|
              electroncash/avalanche/.*py|
              electroncash/consolidate.py|
              electroncash/constants.py|
              electroncash/invoice.py|
              electroncash/keystore.py|
              electroncash/uint256.py|
              electroncash/web.py|
              electroncash_gui/qt/address_list.py|
              electroncash_gui/qt/amountedit.py|
              electroncash_gui/qt/avalanche/.*py|
              electroncash_gui/qt/consolidate_coins_dialog.py|
              electroncash_gui/qt/exception_window.py|
              electroncash_gui/qt/invoice_dialog.py|
              electroncash_gui/qt/multi_transactions_dialog.py|
              electroncash_gui/qt/sign_verify_dialog.py|
              electroncash_gui/qt/utxo_list.py|
              electroncash_plugins/fusion/cmdline.py
          )$
