# If you want the program to appear in a linux app launcher ("start menu"),
# install this file by doing:
# sudo desktop-file-install electrum-bcha.desktop

[Desktop Entry]
Comment=Lightweight BCHA Client
Exec=electrum-bcha %u
GenericName=BCHA Wallet
Icon=electron-cash
Name=Electrum BCHA
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=Electrum BCHA
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoincash;x-scheme-handler/cashacct;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-bcha --testnet %u
Name=Testnet mode
