include LICENCE RELEASE-NOTES.md AUTHORS
include README.rst
include electrum-abc.desktop
include *.py
include electrum-abc
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
include contrib/requirements/requirements-binaries.txt
recursive-include electroncash *.py
recursive-include electrumabc_gui *.py
recursive-include electrumabc_plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *
